
body {color: #333;font-family: Tahoma, Arial, sans-serif;font-size:11px;padding:0;margin:0;}
.calma{}
.shadow-hover:hover {-webkit-box-shadow: -0px 1px 2px rgba(0,0,0,.4);-moz-box-shadow: -0px 1px 2px rgba(0,0,0,.4);box-shadow: -0px 1px 2px rgba(0,0,0,.4);}
.forumline  iframe[src^="https://www.geniusdexchange.com"] {
	display: none;
	}
#taboola-below-desktop-forum-thumbnails div div {

    display: none;
}
.trc_rbox_container div  div, .thumbnails-desktop-a [class*="span"]{
    display: none;

}
.quote_bg {background-color:#f9f9f9; border:1px solid #dfdfdf; padding:5px; }
.quote_title { position:relative; float:right; height:20px; width:60%; color:#333; margin:0 5px 10px 5px; height:30px;}
.quote_title span { position:absolute; top:2px; color:#333; font-size:11px; margin:0px 5px 0px 5px; }

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a {text-decoration:none; padding:0; margin:0;} h1 {font-size:17px;margin:0 0 7px 0;padding:0;}

#header {height: auto;color:#FFF;width: 100%;height:40px;}
.default {}
.fixed {position: fixed;top: 0;left: 0;width: 100%;height:40px;z-index:9999;}
.header_a { position:relative; height:40px;  z-index:9999;}
.header_b { position:relative; height:40px;  z-index:991;}
.header_c { position:relative; min-height:90px; z-index:990; margin-bottom:20px;}
.logo { margin-top:0;}
.logo:hover, .logo:focus {-webkit-animation:spaceboots .8s infinite linear;-webkit-transform-origin:50% 50%}
.ads_head {width:468px; height:60px; margin-top:15px; }
.search_header { height:40px; position: absolute;top:0;left:0;width:175px;margin:0;padding:0;}
.search_header .search_input{width:70px; height:36px; line-height:36px;position:absolute; left:37px; font-size:12px; top:0; margin:0; float:right; padding:2px;}
form.search_header input[type=text]:focus {border: 0px solid #74ceeb;-moz-box-shadow: #EEE 0px 0px 0;-webkit-box-shadow: #EEE 0px 0px 0;box-shadow: #EEE 0px 0px 0;}
.search_header .search_button{ position:absolute; left:0; top:0; width:38px; height:40px; float:left; cursor:pointer;}
.search_header .search_button:hover{ }

.login_forum {position:absolute;width:700px;height:0px;right:0px;top:0px;z-index:999;}

.login-box {position:relative;width:700px;height:40px;right:0px;top:0px;z-index:999;}
.login-box .dit {position:absolute;right:0;top:4px;}
.login-box ul.login_details {width:700px;height:40px;display:inline-block;list-style:none;float:right;margin:0;padding:0;position:absolute;right:0;top:0;z-index:9999;}
.login-box ul.login_details li {width:auto;height:40px;line-height:40px;display:inline-block;font-size:14px;float:right;margin:0 0px 0 0px;padding:0 7px 0 6px;border-left:0px solid #EEE;}
.login-box ul.login_details li:hover { }
.login-box ul.login_details li:first-child {}
.login-box ul.login_details li:last-child {border-left:none;}

.login-box ul.login_details li a:hover, .login-box ul.login_details li a:active{color:#FFF !important;}
.login-box ul.login_details li span { text-align:right;  color:#FFF; }
.login-box ul.login_details li.username {float:right; font-size:14px; font-weight:bold; padding:0 4px; white-space:pre;}
.login-box ul.login_details li.username .avatarlogin { background:url(https://i73.servimg.com/u/f73/14/44/77/00/avatar10.png) no-repeat center center; float:right; width:25px; height:25px; margin:7px 2px 0 7px;}
.login-box ul.login_details li.username .avatarlogin img {width:25px; height:25px;}
.login-box ul.login_details li.settings { }
.login-box ul.login_details li.settings .set-icon { float:right; width:16px; height:16px; background-position:-41px -59px; margin:12px 0 0 5px;}
.login-box ul.login_details li.settings .set-icon:hover { float:right; width:16px; height:16px; background-position:-41px -77px; margin:12px 0 0 5px;}
.login-box ul.login_details li.notificat { font-size:15px; }
.login-box ul.login_details li.notificat .not-icon { float:right; width:14px; height:14px; background-position:-53px -1px; margin:12px 0 0 3px;}
.login-box ul.login_details li.pmunread {}
.login-box ul.login_details li.pmunread .pm-icon { float:right; width:20px; height:15px; background-position:-1px -21px; margin:13px 0 0 3px;}
.login-box ul.login_details li.pmunread .pmnone-icon { float:right; width:20px; height:21px; background-position:-1px -38px; margin:10px 0 0 3px;}
.login-box ul.login_details li.vmunreadcount {}
.login-box ul.login_details li.vmunreadcount .vm-icon { float:right; width:16px; height:16px; background-position:-23px -22px; margin:14px 0 0 3px;}
.login-box ul.login_details li.vmunreadcount .vmnone-icon { float:right; width:16px; height:16px; background-position:-23px -39px; margin:14px 0 0 3px;}
.login-box ul.login_details li.friendreqcount {}
.login-box ul.login_details li.friendreqcount .fr-icon { float:right; width:16px; height:16px; background-position:-22px -59px; margin:12px 0 0 3px;}
.login-box ul.login_details li.friendreqcount .frnone-icon { float:right; width:16px; height:16px; background-position:-1px -59px; margin:12px 0 0 3px;}
.login-box ul.login_details li.repcount {}
.login-box ul.login_details li.repcount .rep-icon { float:right; width:16px; height:16px; background-position:-42px -21px; margin:12px 0 0 3px;}
.login-box ul.login_details li.repcount .repnone-icon { float:right; width:16px; height:16px; background-position:-42px -39px; margin:12px 0 0 3px;}
.login-box ul.login_details li.vbseolikes {}
.login-box ul.login_details li.vbseolikes .vblikes-icon { float:right; width:16px; height:13px; background-position:-22px -77px; margin:14px 0 0 3px;}
.login-box ul.login_details li.vbseolikes .vblikesnone-icon { float:right; width:16px; height:13px; background-position:-2px -77px; margin:14px 0 0 3px;}
.login-box ul.login_details li.signout {}
.login-box ul.login_details li.signout .signout-icon { float:right; width:18px; height:18px; background-position:-60px -21px; margin:12px 0 0 3px;}
.login-box ul.login_details li.signout .signout-icon:hover { float:right; width:18px; height:18px; background-position:-60px -40px; margin:12px 0 0 3px;}

.login-box .signin {position:absolute;right:0;top:0; width:800px;}
.signin_form { position: relative; float:right; width:570px; height:40px; margin:0; padding:0;}
.active-links {position:absolute;right:0;top:0;margin:0;padding:0;}
#session {cursor:pointer;display:inline-block;height:20px;padding:10px 11px;margin:0;vertical-align: top;white-space: nowrap; float:right;}
#session.active, #session:hover {}
#session .av {float:right; width:20px; height:20px; background-position:-60px -60px; margin:0 0px 0 7px;}
#session a.signin-link {color:#bababa;position:relative;line-height:22px;}
#session a.signin-link em {font-size:10px;font-style:normal;margin-right:4px;color:#CCC;}
#session a.signin-link strong {color:#fff;}
#signin-session {height:40px;width:570px;position:absolute;right:127px; top:0;}
.signin-session { position:relative; width:570px; height:40px;}
.signin-session {cursor:pointer;padding:0;text-align:right;}
.signin-session .txtinput {width:150px;height:25px;line-height:25px;font-size:11px;border:none;padding:2px 5px 2px 5px;margin:5px 5px 0 0;}
.signin-session .buttonsub{position:absolute;left:120px;top:8px;width:auto;width:60px;height:24px;font-size:11px;border:0;padding:0 5px 2px 5px;cursor:pointer;text-align:center;}
.signin-session .checkbox {position:absolute;left:185px;top:5px;padding:1px;margin-top:3px;}
.signin-session .newaccount {position:absolute;left:0;top:5px;padding:0px;margin-top:0px;font-size:11px; width:95px;}
.signin-session .newaccount a:hover{ color:#222; }


.fourms_content {}
.fourm_category { position:relative; }
.fourm_category h1 { font-size:15px; text-align:right; margin:0;}
.fourm_category p { font-size:11px; text-align:right; margin-bottom:5px;}
.lastpostinfo { position:relative; width:98.90%; height:26px; line-height:26px; padding:0 3px 0 3px; float:right; direction:rtl; margin-top:5px; border:1px solid #f0f0f0; background:#f5f5f5;}
.lastpostinfo .i-lastpost {position:absolute; left:350px; top:3px; width:20px; height:20px; background-position:-1px -1px;}
.lastpostinfo .lastpostdate {position:absolute; left:50px; top:4px; width:125px; height:18px; text-align:right; line-height:18px;}
.lastpostinfo .lastpostdate .i-lastdate { float:right; width:18px; height:19px; background-position:-21px -1px; margin-left:2px;}
.lastpostinfo .lastposter {position:absolute; left:150px; top:4px; width:200px; height:18px; line-height:18px;text-align:right;}
.lastpostinfo .lastposter .i-lastuser { float:right; width:15px; height:17px; background-position:-39px -1px; margin-left:2px;}
.lastpostinfo .subfourms {position:absolute; left:0; top:0; width:25px; height:26px; line-height:26px;text-align:right; border-right:1px solid #f0f0f0; cursor: pointer;}
.lastpostinfo .subfourms a .i-subfourms { float:right; width:16px; height:16px; background-position:-1px -94px; margin:4px 5px 0 2px; }
.lastpostinfo .subfourms a .i-subfourms:hover { float:right; width:16px; height:16px; background-position:-21px -94px; margin:4px 5px 0 2px; }
.lastpostinfo .subfourms a span { font-size:10px; padding-right:3px; }
.threadtitle { text-align:right; font-size:16px; padding:0; margin:0; color:#555; font-weight:bold;}
.genborder {background:#f5f5f5; padding:3px;margin: 0 auto;}
.genbox {background: #none;font-size: 11px;color: #3e3e3e;margin: 0 auto;padding:3px 10px 5px 10px;border:solid 0px #f7f7f7;}
.genbox p { margin-right:5px;}
.genbox .navbar {font: 11px tahoma, verdana, geneva, lucida, lucida grande, arial, helvetica, sans-serif !important;}
.nots_fourm {background:#f5f5f5; padding:3px;margin: 0 auto;}
.nots_fourm .insignature {color:#c44d52; font-size:13px;}
.nots_fourm .navbar_notice { padding:5px;}
.nots_fourm .navbar_notice input[type=image] { float:left; width:16px; height:16px;}
.forum-content {margin: 0px auto 10px auto;padding:0px;}
.dott {float:right;width:100%;height:1px;margin: 5px 0 5px 0;padding: 0px 0 0 0;}
.alt5 {width:140px;padding:0;}
.alt6 {width:140px;padding:0; background:#f1f1f1;}
.alt5 span, .alt6 span {float:left;text-align:left;font-size:12px;}
.alt5 small, .alt6 span {float:right;text-align:right;font-size:11px;color:#333;}

ul.goingon-box { width:100%; list-style:none; margin:0; padding:0;}
ul.goingon-box li { float:right; width:19.60%; height:90px; display:inline-block; margin-left:0.50%; background:#f7f7f7; position:relative;}
ul.goingon-box li .cm_activeusers { position:relative; top:0; right:0; width:120px; height:90px;text-align:center; }
ul.goingon-box li .cm_activeusers strong {position:absolute;top:55px; right:5px; width:105px;font-size:11px; text-align:center;font-weight:normal; border-top:1px dotted #CCC;padding:3px 5px 0 5px; }
ul.goingon-box li .cm_activeusers span { position:absolute; top:25px; right:0; width:120px; text-align:center; padding-bottom:5px;}
ul.goingon-box li .cm_activeusers-icon { position:absolute; top:24px; left:10px; width:42px; height:41px; background-position:-85px -92px;}
ul.goingon-box li .cm_numbermembers { position:relative; top:0; right:0; width:120px; height:90px; text-align:center; }
ul.goingon-box li .cm_numbermembers strong {position:absolute;top:55px; right:5px; width:105px;font-size:11px; text-align:center;font-weight:normal; border-top:1px dotted #CCC;padding:3px 5px 0 5px;}
ul.goingon-box li .cm_numbermembers span { position:absolute; top:25px; right:0; width:120px;font-size:24px; text-align:center; padding-bottom:5px;}
ul.goingon-box li .cm_numbermembers-icon { position:absolute; top:24px; left:10px; width:42px; height:41px; background-position:-85px -1px;}
ul.goingon-box li .cm_totalthreads { position:relative; top:0; right:0; width:120px; height:90px;text-align:center; }
ul.goingon-box li .cm_totalthreads strong { position:absolute;top:55px; right:5px; width:105px;font-size:11px; text-align:center;font-weight:normal; border-top:1px dotted #CCC;padding:3px 5px 0 5px;}
ul.goingon-box li .cm_totalthreads span { position:absolute; top:25px; right:0; width:120px;font-size:24px; text-align:center; padding-bottom:5px;}
ul.goingon-box li .cm_totalthreads-icon { position:absolute; top:24px; left:10px; width:42px; height:41px; background-position:-133px -46px;}
ul.goingon-box li .cm_totalposts { position:relative; top:0; right:0; width:120px; height:90px; text-align:center; }
ul.goingon-box li .cm_totalposts strong { position:absolute; top:55px; right:5px; width:105px;font-size:11px; text-align:center;font-weight:normal; border-top:1px dotted #CCC;padding:3px 5px 0 5px; }
ul.goingon-box li .cm_totalposts span { position:absolute; top:25px; right:0; width:120px;font-size:24px; text-align:center; padding-bottom:5px;}
ul.goingon-box li .cm_totalposts-icon { position:absolute; top:24px; left:10px; width:42px; height:41px; background-position:-85px -46px;}
ul.goingon-box li .cm_newuser { position:relative; top:0; right:0; width:120px; height:70px; padding-top:20px; text-align:center; }
ul.goingon-box li .cm_newuser a { font-size:15px;}
ul.goingon-box li .cm_newuser strong { position:absolute;   right:5px; width:105px;font-size:11px; text-align:center;font-weight:normal; border-top:1px dotted #CCC;padding:3px 5px 0 5px; }
ul.goingon-box li .cm_newuser span { position:absolute; right:0; width:120px;font-size:24px; text-align:center; padding-bottom:5px;}
ul.goingon-box li .cm_newuser-icon { position:absolute; top:24px; left:10px; width:42px; height:41px; background-position:-133px -1px;}
ul.goingon-box li {}
div#cm_activeusers {
    position: relative;
    top: 0;
    right: 0;
    width: 120px;
    /* height: 90px; */
    text-align: center;
    font-size: 0px;
}

div#cm_activeusers strong {
    /* font-size: 20px; */
    position: absolute;
    top: 25px;
    right: 0;
    width: 120px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 5px;
}


ul.head_postbit { list-style:none; float:right; width:100%;  line-height:30px; color:#3e3e3e;margin: 0 auto 20px 0;}
ul.head_postbit li { float:right; display:inline-block;}
ul.head_postbit li.post_title {background:#f9f9f9; font:right; width:78.8%;padding:3px 5px 5px 5px;}
ul.head_postbit li.post_title h1 { font-size:17px; float:right; }
ul.head_postbit li.post_count {background:#f5f5f5; font:left; width:19%;padding:3px 5px 5px 5px;line-height:30px;font-size:13px;}
ul.head_postbit li.post_count .replay_count { float:right; width:40%; border-left:1px solid #CCC;}
ul.head_postbit li.post_count .replay_icon { float:right; width:16px; height:16px; background-position:-41px -111px; margin:8px 0 0 5px;}
ul.head_postbit li.post_count .views_count { float:right; width:55%; padding-right:5px;}
ul.head_postbit li.post_count .views_icon { float:right; width:16px; height:16px; background-position:-41px -95px; margin:8px 0 0 5px;}
.ev_postbit { border:1px solid #e0e0e0;}
.ev_postbit .tophead { background:#f7f7f7; padding:8px 5px 8px 5px;}
.evidaswitch { background: url(https://i73.servimg.com/u/f73/14/44/77/00/arrow-10.png) no-repeat center center; float:right; width:50px; height:150px; }
.ev_postbit .post_top {border:1px solid #e0e0e0;border-right:0;border-top:0;border-left:0;}
.ev_postbit .post_top .pt_ev_avatar_post { padding:1px; border:1px solid #CCC; margin:0 auto;max-width:154px;}
.ev_postbit .post_top .pt_user_details { margin:10px auto 10px auto; width:100%; text-align:right; background:#FFF; border:1px solid #e0e0e0;}
.ev_postbit .post_top .pt_user_details div { background:url(https://i73.servimg.com/u/f73/14/44/77/00/info-i10.png) no-repeat right center; width:90%; padding:3px 9px 3px 3px; border-bottom:0 solid #e0e0e0;}
.ev_postbit .post_right{width:175px;border:1px solid #e0e0e0;border-right:0;border-top:0;border-bottom:0;}

.ev_postbit .post_right .ev_avatar_post { padding:1px; border:1px solid #CCC; margin:0 auto;max-width:154px;}
.ev_postbit .post_right .user_details { margin:10px auto 10px auto; width:100%; text-align:right; background:#FFF; border:1px solid #e0e0e0;}
.ev_postbit .post_right .user_details div { background:url(https://i73.servimg.com/u/f73/14/44/77/00/info-i10.png) no-repeat right center; width:90%; padding:3px 9px 3px 3px; border-bottom:0 solid #e0e0e0;}
.ev_postbit .evida_info { margin:10px auto 10px auto;}
.ev_postbit .countuser_size { width:286px; }
.ev_postbit .pt_size { width:262px; height:150px;}
.ev_postbit .pl_size {width:174px; height:200px;}
.ev_postbit .evida_info .evida_70 { float:right; margin:2px; width:83px; height:45px; position:relative; cursor:pointer;}
.ev_postbit .evida_info .evida_70:hover { opacity:0.9;}
.ev_postbit .evida_info .evida_70 .evida_trophy { float:right;position:absolute; right:27px; top:10px; width:28px; height:28px; background-position:-1px -144px;}
.ev_postbit .evida_info .evida_70 .evida_profile {float:right;position:absolute; right:29px; top:9px; width:24px; height:28px; background-position:-35px -144px;}
.ev_postbit .evida_info .evida_70 .evida_xbox {float:right; position:absolute; right:26px; top:9px; width:29px; height:28px; background-position:-61px -144px;}
.ev_postbit .evida_info .evida_70 .evida_psn {float:right; position:absolute; right:27px; top:8px; width:29px; height:28px; background-position:-90px -144px;}
.ev_postbit .evida_info .evida_70 .evida_myanimelist {float:right; position:absolute; right:11px; top:9px; width:60px; height:28px; background-position:-121px -176px;}
.ev_postbit .evida_info .evida_70 a, .ev_postbit .evida_info .evida_30 a { z-index:99;}
.ev_postbit .evida_info .evida_110 { float:right; margin:2px; width:127px; height:45px; position:relative; cursor:pointer;}
.ev_postbit .evida_info .evida_110:hover { opacity:0.9;}
.ev_postbit .evida_info .evida_30 { float:right; margin:2px; width:39px; height:45px; position:relative; cursor:pointer;}
.ev_postbit .evida_info .evida_30:hover { opacity:0.9;}
.ev_postbit .evida_info .evida_30 .evida_steam {float:right; position:absolute; right:6px; top:15px; width:29px; height:25px; background-position:-124px -152px;}
.ev_postbit .evida_info .evida_30 .evida_wii {float:right;position:absolute; right:8px; top:12px; width:24px; height:22px; background-position:-93px -179px;}
.ev_postbit .evida_info .evida_30 .evida_sendpm {float:right;position:absolute; right:10px; top:15px; width:20px; height:15px; background-position:-1px -22px;}
.ev_postbit .evida_info .evida_30 .evida_facebook {float:right;position:absolute; right:11px; top:10px; width:14px; height:25px; background-position:-1px -177px;}
.ev_postbit .evida_info .evida_30 .evida_plus {float:right;position:absolute; right:8px; top:10px; width:22px; height:28px; background-position:-66px -177px;}
.ev_postbit .evida_info .evida_30 .evida_twitter {float:right;position:absolute; right:6px; top:11px; width:25px; height:24px; background-position:-18px -177px;}
.ev_postbit .evida_info .evida_30 .evida_youtube {float:right;position:absolute; right:10px; top:11px; width:20px; height:22px; background-position:-44px -178px;}
.ev_postbit .evida_info .evida_{ float:right; width:40px; height:45px; }
.ev_postbit .post_bottom { padding:0 !important;}
.ev_postbit .post_bottom .ev_post_message { border:1px solid #e0e0e0; position:relative; padding:5px; }
.ev_postbit .post_bottom .ev_post_message img { float:none; margin:0 auto 0 auto;}
.ev_postbit .post_bottom .ev_post_message .arrow_top{ position:absolute; right:65px; top:-11px; width:20px; height:11px;background:url(https://i73.servimg.com/u/f73/14/44/77/00/arrow_10.png) no-repeat;}
.ev_postbit .post_left {}
.ev_postbit .post_left .ev_post_message { position:relative; padding:5px; }
.ev_postbit .post_left .ev_post_message img { float:none; margin:0 auto 0 auto;}
.ev_postbit .post_left .ev_post_message .arrow_right{ position:absolute; right:-11px; top:20px; width:11px; height:20px;background:url(https://i73.servimg.com/u/f73/14/44/77/00/arrow_11.png) no-repeat;}
.ev_postbit .ev_post_signature {}
.ev_postbit .ev_post_signature .ev_head_signature { height:20px; padding:5px; font-size:13px; text-align:right; line-height:20px;border-bottom:1px solid #e0e0e0;}
.ev_attachments fieldset { }
.ev_quote {background:#f7f7f7; font-size:12px; border-right:4px solid #999; width:99%;}
.ev_quote .ev_quote_head { color:#666; font-size:12px; text-align:right; padding:3px; font-style:italic; border-bottom:1px solid #e0e0e0;}
.share_post {width:360px;}
.smallfont2 {font-size:10px;color:#666;padding: 0 0 5px 0;}
.fontuser { font-size:14px;}
.texthead{position:relative; right:0;top:-26px;width:98px;color:#2b8eb9;background-color:#FAFAFA;border-color:#DDD #DDDDDD #FAFAFA;border-style:solid;border-width:1px;padding:4px 2px 1px 0;}
.textads ul{position:relative}
.textads span .inner{background-color:#FAFAFA;border-color:#DDD #DDDDDD #FAFAFA;border-style:solid;border-width:2px;display:block;padding:4px 11px 1px;position:relative;}
.textads span .outer{background-color:#EEE;border:1px solid #E6E8E9;border-bottom:none;font-size:10px;height:13px;padding:3px;position:absolute;right:15px;top:-19px;}
.textads span. inner:after{background-color:#fafafa;bottom:-2px;content:".";height:3px;left:0;overflow:hidden;position:absolute;width:100%;}
div.syntaxhighlighter{font-size:11px !important;background:none !important;width:625px !important;}
.syntaxhighlighter .line .number{padding:2px !important}

.footer { height: auto;}
.footer_warp { background:#212121; color:#FFF;}
ul.footer_sec { list-style:none; float:right; width:100%; height:auto;}
ul.footer_sec li { float:right; width:28%; padding:10px 1% 10px 1%; height:100%; display:inline-block; position:relative; }
ul.footer_sec li.firstfoot{width:37%; line-height: normal;}
ul.footer_sec li.secondfoot { color:#FFF;height:35px !important; padding:0 1% 0 1%; line-height:35px;}
ul.footer_sec li.noborder {border-right:none !important;}
ul.footer_sec li.dub {width:57%; }
ul.footer_sec li.copy {text-align:left; font-size:11px;}
ul.footer_sec li select {padding:4px; margin-top:-3px;}
.foot_url {  float:right; width: 100%; }
.foot_url a { margin-right:3px; float:right; width:130px; height:20px; line-height:20px; font-size:12px;  padding:0 3px 0 0; border-bottom:1px dotted #333;}
.foot_url a:hover { background:#f0f0f0;}
ul.socialSite {list-style:none; width:100%; height:100%;float:right; }
ul.socialSite li { display:inline-block; float:right; width:40px; height:40px; padding:0; margin-left:3px; border:none;}
ul.socialSite li a.foot_facebook { float:right; width:38px; height:38px; background-position:-184px -42px;}
ul.socialSite li a.foot_facebook:hover { float:right; width:38px; height:38px; background-position:-184px -1px;}
ul.socialSite li a.foot_twitter { float:right; width:38px; height:38px; background-position:-224px -42px;}
ul.socialSite li a.foot_twitter:hover { float:right; width:38px; height:38px; background-position:-224px -1px;}
ul.socialSite li a.foot_plus { float:right; width:38px; height:38px; background-position:-265px -42px;}
ul.socialSite li a.foot_plus:hover { float:right; width:38px; height:38px; background-position:-265px -1px;}
ul.socialSite li a.foot_youtube { float:right; width:38px; height:38px; background-position:-305px -42px;}
ul.socialSite li a.foot_youtube:hover { float:right; width:38px; height:38px; background-position:-305px -1px;}
ul.socialSite li a.foot_vimo { float:right; width:38px; height:38px; background-position:-184px -123px;}
ul.socialSite li a.foot_vimo:hover { float:right; width:38px; height:38px; background-position:-184px -82px;}
ul.socialSite li a.foot_flickr { float:right; width:38px; height:38px; background-position:-224px -123px;}
ul.socialSite li a.foot_flickr:hover { float:right; width:38px; height:38px; background-position:-224px -82px;}
ul.socialSite li a.foot_rss { float:right; width:38px; height:38px; background-position:-265px -123px;}
ul.socialSite li a.foot_rss:hover { float:right; width:38px; height:38px; background-position:-265px -82px;}

.page {color: #666;margin:0;padding:0;}
td, th, p, li {font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;}
.tborder {}
.tcat {font-weight:bold;font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;}
.thead {font-weight:bold;font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif}
.alt1, .alt1Active {font-size:12px;}
.alt2, .alt2Active {}
.althead {
    background: #f7f7f7;
    color: #333;
    border-left:1px solid #f9f9f9;
    border-bottom:1px solid #f9f9f9;
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .1) 0%,
        rgba(0, 0, 0, .1) 100%
        );
   
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(0, 0, 0, .1)),
        to(rgba(255, 255, 255, .1))
        );
   
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
    background-color:#EEE;
}
select {padding:5px;font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;}
.button {padding:3px;font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif; border:none;}
.smallfont{font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;}
.navbar {font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;}
.panelsurround {background:#e1e1e1 url(https://i73.servimg.com/u/f73/14/44/77/00/gradie10.gif) repeat-x top left; color:#000000;}
.panel {background:#eeeeee url(https://i73.servimg.com/u/f73/14/44/77/00/gradie11.gif) repeat-x top left;padding: 5px;border: 2px outset; color:#000000;}
.highlight { color:#972727; font-weight:bold;}
.inlinemod { background:#FFFFCC; color:#333;}
legend { color:#333; font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;border:none;}
.bginput {font-size:11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;}


.bigusername { font-size: 16px; }


td.thead, th.thead, div.thead { padding: 4px; }


.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }


.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDD; }

.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

.vbmenu_popup {background:#FFF; color:#222;border: 1px solid #bdbebf;}
.vbmenu_option {background: #EEE;color:#000;font: 11px tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;white-space: nowrap;cursor: pointer;}
.vbmenu_option a:link, .vbmenu_option_alink { color: #666; text-decoration: none;}
.vbmenu_option a:visited, .vbmenu_option_avisited {color: #666;text-decoration: none;}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover {color: #333;text-decoration: none;}
.vbmenu_hilite {background: #e5e5e5;color: #7e7e7e;font: 11px tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;white-space: nowrap;cursor: pointer;}
.vbmenu_hilite a:link, .vbmenu_hilite_alink { color: #333; text-decoration: none;}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited {color: #333;text-decoration: none;}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover{color: #333;text-decoration: none;}
.wysiwyg {background: #fbfbfb;color: #000000;font: 11px tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;margin: 5px 10px 10px 10px;padding:5px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
textarea, .bginput {font: 11px tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;}
.bginput option, .bginput optgroup {font-size: 11px;font-family: tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;}
.fjsel {background: #EEE;color: #444;}
.fjdpth0 {background: #c7c7c7;color: #222;}
.alert_icons {padding: 0px;margin: 0px;list-style: none;width: 220px;overflow: hidden;display: block;margin: auto;padding-top: 3px;}
.alert_icons li {float: right;list-style: none;padding-right: 15px;}
.notifications {position: relative;background-color: #F33;-moz-border-radius: 7px;border-radius: 7px;color: white;width: 14px;height: 14px;font-size: 10px;text-align: center;line-height: 14px;bottom: 25px;right: 17px;padding-right: 1px;padding-left: 1px;}
ul.tab_list {position: relative;top: 0px;left: 0px;overflow: hidden;list-style: none;padding: 0px;margin: 0px;}

ul.tab_list li {float: left;margin-left: 0px;margin-right: 1px;white-space: nowrap;overflow: hidden;padding:  10px 4px 10px 4px;position: relative;cursor: pointer;}

ul.tab_list li.thead {font-weight: normal;background:#EEE !important;border:1px solid #EEE !important;}

ul.tab_list li.tcat {height: 2.5em;border-bottom: none;border-bottom-width: 0px;font-weight: bold;font-size: 11px;position: relative;color:#333 !important;background:#EEE !important;border-top:3px solid #999 !important;}

ul.tab_list li a {text-decoration: none;cursor: default;}
ul.tab_list li.overflow_tab {width: auto;text-align: center;font-weight: bold;display: none;}

ul.tab_popup {position: absolute;list-style-type: none;margin: 0px;padding: 0px;}

ul.tab_popup li {width: 200px;}
ul.tab_list li.thead:hover, ul.tab_list li.thead:hover *, ul.tab_popup li.vbmenu_option:hover, ul.tab_popup li.vbmenu_option:hover * {background: #e8e8e8 !important;border:1px solid #e8e8e8 !important;color: #333 !important;}
div.tab_header {margin-top: -1px;border-bottom: none;border-bottom-width: 0px;padding: 4px;clear: both;}
.tab_content {margin-bottom: 6px;}
